/target
**/*.rs.bk
*.pdb
.DS_Store
.env
.env.local
node_modules
.expo/
.wrangler
build/
edge/dist/
apps/ios/Comet/Generated/
/apps/rn/Comet/android
/apps/rn/Comet/ios
/apps/rn/Comet/dist
/apps/mobile-app/dist
/apps/mobile-app/crash
